numpy
pandas
opencv-python
scipy
scikit-image
matplotlib
scikit-learn
seaborn
tqdm
python-multipart
python-dotenv
pydantic
beartype

# torch
torch
torchvision
torchaudio

# whisper
faster-whisper
pysbd
kss
rapidfuzz
soundfile
librosa

# logging
loguru
rich

# Silero VAD
silero-vad

# pyannote
pyannote.audio


# optuna
optuna


# Hugging Face
transformers
